{% extends 'base_menu.html.twig' %}

{% block title %}Pull Bricklink Inventory {% endblock %}

{% block body %}
    <a href="{{ path('app_dashboard') }}" class="btn btn-primary m-2">back to list</a>
    <div class="container">
        <div class="m-auto text-center">
            {% if error %}
                <h2>Error occured</h2>
                <p>Message: {{ error.message }}</p>
                <p>Description: {{ error.description }}</p>
            {% else %}
                <p>{{ updated_items }} items has been added/updated</p>
                {% if updated_invs is not same as(null) %}
                    <p>{{ updated_invs }} inventories has been updated </p>
                {% else %}
                    <p>{{ added }} inventories has been added </p>
                    <p>{{ updated }} inventories has been updated </p>
                    <p>{{ removed }} inventories has been removed </p>
                    {% if update_logs or removed_logs %}
                    <h4>Changelogs</h4>
                    <ul class="list-group list-group-flush">
                        {% for log in update_logs %}
                            <li class="list-group-item">{{ log }}</li>
                        {% endfor %}
                        {% for log in removed_logs %}
                            <li class="list-group-item">{{ log[1] }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endif %}
                {# <ul>
                    {{ dump(inventories) }}
                </ul> #}
            {% endif %}
        </div>
    </div>
        
{% endblock %}