{% extends 'base_menu.html.twig' %}

{% block title %}Inventory {{ inventory.id }}{% endblock %}

{% block body %}
    <a href="{{ path('app_dashboard') }}" class="btn btn-primary m-2">back to list</a>
    <div class="container">
        <h1>Inventory {{ inventory.inventoryId }}</h1>

        <div class="row align-items-start">
            <div class="col">
                <img src= '{{inventory.imageUrl}}' ></p>
            </div>

            <div class="col">
                <h2>Item information</h2>

                <div class="row align-items-start">
                    <div class="col">
                        Item number: 
                    </div>
                    <div class="col">
                        {{ inventory.Item.no }}
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        Item name: 
                    </div>
                    <div class="col">
                        {{ inventory.Item.name }}
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        Item type: 
                    </div>
                    <div class="col">
                        {{ inventory.item.Type }}
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        Color name: 
                    </div>
                    <div class="col">
                        {{ inventory.colorName }}
                    </div>
                </div>

            </div>

            <div class="col">
                <h2>Lot information</h2>

                <div class="row align-items-start">
                    <div class="col">
                        Unit price: 
                    </div>
                    <div class="col">
                        {{ inventory.unitPrice }}
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        Quantity: 
                    </div>
                    <div class="col">
                        {{ inventory.quantity }}
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        Condition: 
                    </div>
                    <div class="col">
                        {{ inventory.newOrUsed }}
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        Sale rate: 
                    </div>
                    <div class="col">
                        {{ inventory.saleRate }}
                    </div>
                </div>
                <div class="row align-items-start">
                    <div class="col">
                        Completeness:
                    </div>
                        <div class="col">
                        {% if inventory.completeness %}
                        {{ inventory.completeness }}
                        {% else %}
                            <span>NULL</span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        
{% endblock %}