{% extends 'base_menu.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container">
    <h1>Dashboard</h1>

    <div class="container mb-3">
        <h2>Inventory list ({{ total_inventories }})</h2>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Lot ID</th>
                    <th>Item number</th>
                    <th>Item name</th>
                    <th>Item type</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Creation date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in inventories %}
                <tr>
                    <td><img src='{{ item.thumbnailUrl }}'></td>
                    <td>{{ item.inventoryId }}</td>
                    <td>{{ item.Item.no }}</td>
                    <td>{{ item.Item.name }}</td>
                    <td>{{ item.Item.type }}</td>
                    <td>{{ item.unitPrice }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.dateCreated|date("d/m/Y H:i") }}</td>
                    <td><a href="{{ path('app_inventory_show', {'id': item.id}) }}" class="btn btn-light">show</a></td>
                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_inventory_pull') }}" class="btn btn-success">Pull BrickLink inventory</a>
        <a href="{{ path('app_inventory_pull2') }}" class="btn btn-success">Experimental! Pull BrickLink</a>
        <a href="{{ path('app_inventory_new') }}" class="btn btn-success">Create new</a>
    </div>
    
</div>
{% endblock %}
